@import "./../main.module.scss";
@import "./../data/themes.scss";

.facilitiesContainer {
  height: auto;
  min-height: 700px;
  width: 100%;
  border: 2px solid black;
  position: relative;
}
.background {
  background-image: url("https://firebasestorage.googleapis.com/v0/b/sapunmontan.appspot.com/o/casacaly%2FnewPics%2F4CAF2A55-6B72-4416-8C22-3CD67E4386AE.JPG?alt=media&token=5603769c-ac08-427e-82f8-fbaea72efb9b");
  width: 100%;
  filter: blur(4px);
  object-fit: cover;
  background-size: cover;
  height: 100%;
  position: absolute;

  &::after {
    display: block;
    position: absolute;

    // background-image: #FFFFFF;
    background-image: -webkit-linear-gradient(to bottom, rgba(51, 41, 46, 0.37) 0%, rgba(13, 13, 13, 0.44) 100%);
    background-image: -moz-linear-gradient(to bottom, rgba(51, 41, 46, 0.37) 0%, rgba(13, 13, 13, 0.44) 100%);
    background-image: linear-gradient(to bottom, #ffffff, #5d6c62);
    background-image: linear-gradient(to bottom, rgba(51, 41, 46, 0.37) 0%, rgba(13, 13, 13, 0.44) 100%);

    content: "";
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0.8;
  }
}
.abs {
  position: absolute;
}
.listFacil {
  display: flex;
  row-gap: 30px;
  position: relative;
  width: auto;
  max-width: 1028px;
  margin: 42px auto;
  @include media(">=tablet", "<desktop") {
    max-width: 710px;
  }
}
.imageThumb {
  height: 50%;
}
.facilItem {
  border: 2px solid rgba(143, 143, 143, 0.616);
  border-radius: 13px;
  width: 300px;
  height: 200px;
  margin: auto;
  padding: 12px 43px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: #ebedef;

  &:hover {
    opacity: 0.9;
  }
}
.boldText {
  font-weight: bold;
  padding: 10px 54px;
  color: whitesmoke;
  font-size: 20px;
}
.facilText {
  font-size: 1.25rem;
}
