@import './../main.module.scss';
@import './../data/themes.scss';

.productContainer {
  width: 100%;

  background-color: rgb(243, 243, 243);
}
.titleTop {
  margin-top: 20px;
  font-weight: bold;

  display: table; /* keep the background color wrapped tight */
  margin: 0px auto 0px auto; /* keep the table centered */
  padding: 5px;
  font-size: 20px;
  background-color: rgb(255, 230, 0);
  color: #000000;
}
.categoryTitle {
  margin-top: 35px;
  margin-bottom: 40px;
  font-size: 35px;
}
.berriesImage {
  width: 100%;
  max-width: 400px;

  @include media('<desktop') {
    max-width: 320px;
  }
}
.itemPic {
  width: 200px;
}
.titleProduct {
  font-size: 20px;
  font-weight: bolder;
}
.item {
  width: auto;
}
.productList {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.messageBottom {
  margin: auto;
  max-width: 400px;
}
